spring:
  redis:
    database: 0
    host: 39.105.0.169
    port: 6379
    jedis:
      pool:
        max-active: 30
        max-idle: 10
        max-wait: -1
    timeout: 1000

  datasource:
    druid:
      driver-class-name: com.mysql.jdbc.Driver
      username: @irh.mysql.username@
      password: @irh.mysql.password@
      url: @irh.mysql.url@
      initial-size: 5     # 初始化大小
      max-active: 20      # 连接池中最大的活动数
      max-wait: 30000                             # 最大连接等待时间
      time-between-eviction-runs-millis: 60000    # 配置检测可以关闭的空闲连接间隔时间
      validation-query: select '1' from dual      # 测试连接
  application:
    name: goods-service

  rabbitmq:
    host: 39.105.0.169
    port: 5672
    username: admin
    password: 197877346hmr


eureka:
  client:
    service-url:
      defaultZone: http://localhost:10086/eureka
  instance:
    lease-renewal-interval-in-seconds: 5        # 心跳时间
    lease-expiration-duration-in-seconds: 15    # 过期时间

logging:
  config: classpath:logback-spring.xml

enable:
  needLogin: false
